* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}
$sub-color:#f0f0f0;


.main {
  padding: 30px 40px 20px 30px;
  box-sizing: border-box;
  background-color:$sub-color;
  width: 75%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.days {
  button {
    text-transform: none;
    font-size: 24px;
    font-weight: bold;
    color: rgba(1,1,1,0.4);
  }
  .clicked {
    color: black !important;
    background-color: transparent !important;
  }
  width: 14%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background-color: white !important;
  color: black !important;
  box-shadow: -1px 1px 0 rgba(0,0,0,0.3);

}
.clicked {
     background-color: black !important;
     color: white !important;
}
.measures {
  min-width: 80px;
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid-cards {
  margin-top: 3.8rem;
  display: grid;
  grid-template-columns: repeat(7,auto);
  grid-gap: 30px;
  width: 100%;
}
.card {
  box-sizing: border-box;
  border-radius: 12px !important;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
    object-fit: contain;
    max-height: 80px;
    margin-bottom: 5px;
  }
  span {
    margin-left: 5px;
    opacity: .5;
  }
}
.cards {
  margin-bottom: 8%;
}
.w-data {
  margin-top: 2.2rem;
  display: grid;
  grid-template-columns: 23% 23% 23% 31%;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  grid-gap: 15px;
  > div {
    border-radius: 12px;
    padding: 15px;
  }
  h4 {
     font-size: 1.8rem !important;
     display: flex;
     align-items: center;
     >img {
       width: 2.5rem;
       margin-right: 0.5rem;
       margin-bottom: 5px;
     }
   }
  h2 {
  >img {
    width: 2.5rem;
    height:2.5rem;
  }
  }
}
h3 {
  font-size: 1.4rem !important;
}
h2 {
  font-size: 2.5rem !important;
  font-weight: bold;
}
.map {
  grid-column-start: 4;
  grid-row-end: 3;
  grid-row-start: 1;
  width: 90%;
  object-fit: contain;
}
.hum {
  img {
    width: 2.5rem;
    height:2.5rem;
    margin-right: 8px;
  }
  span {
    font-size: 1.8rem;
    position: relative;
    top: -0.3rem;
  }
}
//////////////////////////////////

.day-time {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 50px;
  margin-top: 2.2rem;
  margin-bottom: 6%;
}
.t-time {
  border-radius: 12px !important;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  box-sizing: content-box;
  p {
    font-size: 1.2rem;
  }
  > img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    object-fit: contain;
    max-height: 120px;
    margin-bottom: 10px;
  }
}
.all-data {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  grid-gap: 15px;
  > div {
    border-radius: 12px;
    padding: 15px;
  h4{
    font-size: 1.8rem !important;
    display: flex;
    align-items: center;
    >img {
      width: 2.5rem;
      margin-right: 0.5rem;
      margin-bottom: 5px;
    }
  }
    h2 {
      >img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    h3 {
      display: flex;
    }
    h6 {
      display: flex;
      align-items: center;
    }
  }
}
.h1-f {
  margin-bottom: 2.2rem;
  font-size: 1.5rem;
}
.small {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 5px;
}
